@import url('https://fonts.googleapis.com/css2?family=Signika:wght@300;400;500;600;700&display=swap');

:root {
  --button-color: #bfbfbf;
  --player-1-color: aquamarine;
  --player-2-color: #ff7faa;
}

html {
  font-size: 24px;
}

body {
  font-family: Signika, sans-serif;
  font-size: 1rem;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}

.title {
  font-size: 4rem;
  font-weight: bold;
  text-align: center;
}

.title::first-letter {
  color: var(--player-1-color);
}

.title-2 {
  color: var(--player-2-color);
}

#game-board {
  display: grid;
  width: 600px;
  height: 600px;
  font-size: 2rem;
  margin: auto;
}

.board-square {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.board-square.right-border {
  border-right: 2px solid black;
}

.board-square.bottom-border {
  border-bottom: 2px solid black;
}

.player1-color {
  background-color: var(--player-1-color);
}

.player2-color {
  background-color: var(--player-2-color);
}

#player-form {
  padding: 12px;
}

.player-form-inputs {
  display: flex;
  justify-content: center;
}

.player-inputs {
  margin: 12px;
}

.form-button {
  margin: 12px;
  text-align: center;
}

#begin-game-button {
  all: unset;
  background-color: var(--button-color);
  border-radius: 12px;
  padding: 20px;
  cursor: pointer;
}

input {
  font-family: inherit;
  /* border-radius: 2px; */
  border: 2px solid var(--button-color);
  border-radius: 12px;
  text-indent: 1ch;
  font-size: 0.75rem;
}

.marker-input {
  width: 4ch;
}

#begin-game-button {
  font-family: inherit;
}

#begin-game-button.hidden {
  display: none;
}