@import url('https://fonts.googleapis.com/css2?family=Signika:wght@300;400;500;600;700&display=swap');

:root {
  --button-color: #bfbfbf;
  --player-1-color: #7fffd4;
  --player-2-color: #ff7faa;
  --standard-padding: 12px;
}

html {
  font-size: 24px;
}

body {
  font-family: Signika, sans-serif;
  font-size: 1rem;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.title {
  font-size: 4rem;
  font-weight: bold;
  text-align: center;
}

.title::first-letter {
  color: var(--player-1-color);
}

.title-2 {
  color: var(--player-2-color);
}

.title-3 {
    /* font-size: 72px; */
    background: linear-gradient(135deg, rgba(127,255,212,1) 50%, rgba(255,127,170,1) 52%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.column-container {
  display: flex;
  flex-direction: column;
}

#game-board {
  display: grid;
  font-size: 2rem;
  margin: auto;
}

#game-board.built {
  width: 500px;
  max-width: 95vw;
  height: 500px;
  max-height: 95vw;
}

.board-square {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: var(--button-color);
}

.board-square.right-border {
  border-right: 3px solid var(--button-color);
}

.board-square.bottom-border {
  border-bottom: 3px solid var(--button-color);
}

.player1-color {
  background-color: var(--player-1-color);
}

.player2-color {
  background-color: var(--player-2-color);
}

#player-form {
  padding: var(--standard-padding);
}

.player-form-inputs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.player-inputs {
  margin: var(--standard-padding);
}

.player-inputs fieldset {
  border-radius: var(--standard-padding);
}

#player-1-inputs fieldset {
  border: 2px solid var(--player-1-color);
}

#player-2-inputs fieldset {
  border: 2px solid var(--player-2-color);
}

.player-inputs .score-input {
  background-color: transparent;
  width: 4ch;
  color: inherit;
}

#ai-check input {
  border: 4px solid black;
}

#begin-game-button {
  all: unset;
  background-color: var(--button-color);
  border-radius: var(--standard-padding);
  padding: 20px;
  cursor: pointer;
}

#form-submit-button {
  margin: var(--standard-padding);
  text-align: center;
}

input {
  font-family: inherit;
  /* border-radius: 2px; */
  border: 2px solid var(--button-color);
  border-radius: var(--standard-padding);
  text-indent: 1ch;
  font-size: 0.75rem;
}

.marker-input {
  width: 4ch;
}

#begin-game-button {
  font-family: inherit;
}

.hidden {
  display: none;
}

@media screen and (max-width: 768px) {
  .column-container {
    display: flex;
    flex-direction: column-reverse;
  }
  .not-current-player {
    display: none;
  }
}